// Breakpoints Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;

//Fonts
$rubik: 'Rubik', sans-serif;
$font-light: 300;
$font-bold: 500;
$font-extrabold: 700;

//Colors

$grey: rgba(229, 229, 229);
$orange: rgba(252, 163, 17);
$black: rgba(0, 0, 0);
$white: rgba(255, 255, 255);
$navy: rgba(20, 33, 61);

//Border
$radius: .25rem;


