.menu {
  &_btn {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;

    &:checked {
      ~ .header_box_menu_list {
        display: flex;
      }

      ~ .menu_toggle {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translate(2px, 5px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(2px, -5px);
          }
        }
      }
    }
  }

  &_toggle {
    display: block;

    span {
      width: 30px;
      height: 2px;
      display: block;
      background-color: $black;
      transition: .3s all ease-in-out;
      margin: 0 auto 3px auto;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include desktop {
      display: none;
    }
  }
}


.header_box_menu_list {
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    position: static;

    &_element {
      margin-left: 20px;
    }
  }
  background-color: $orange;
  border-radius: $radius;
  font-size: 20px;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 180px;
  @include tablet {
    top: 160px;
  }
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  display: none;

  &_element {
    padding: 0;
    @include menu-element;


    &_link {
      display: block;
      padding: 14px 20px;
    }
  }
}