.benefits_list {
  display: none;

  @include desktop {
    font-family: $rubik;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $grey;
    border-radius: $radius;

    padding: 16px 0 16px 0;
  }
  &_element{
    img {
      position: center;
      margin-right: 10px;
      height: 30px;
    }
  }

}

.header_box {
  font-family: $rubik;
  line-height: 62px;

  &:before, :after {
    height: 2px;
    width: 100px;
    border: solid 1px $black;
  }

  &_logo {
  display: flex;
    align-items: center;
    justify-content: center;

    margin: 15px 0 15px 0;

    img {
      height: 100px;
      width: 100px;
      margin-right: 20px;
    }
    h1 {
      font-size: 50px;
      font-weight: $font-extrabold;
      text-transform: uppercase;
    }
  }
  &_menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    border-radius: $radius;

    font-size: 20px;
    @include menu-element;
    &_element {
      margin-left: 20px;
    }
  }
}


