@import "variables";
@import "mixinss";

.footer {
    background-color: $grey;
    border-radius: $radius;
    @include standard-text;
    @include tablet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    };
    &_box {
        padding: 20px 0;
        &_list {
            text-align: center;
            font-weight: $font-bold;
            &_item {
                margin-bottom: 10px;
            }
        }
    }
}

address.contact_box_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    @include tablet {
        flex-direction: row;
        margin: 0;
    }
    img {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 10px 0;
        @include tablet {
            margin: 0 10px;
        }
    }
    p.text {
        display: inline-block;
        margin: 0;
    }
}