@import "variables";
@import "mixinss";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
  }
}

.logo_title {
  font-family: $rubik;
  line-height: 100px;
  font-size: 62px;
  font-weight: $font-extrabold;
  text-transform: uppercase;
  margin: 0;



}

.login_box {
  background-color: $grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.case_data {
  @include standard-text;
  padding: 20px;
  background-color: $orange;
  h2 {
    @include text-title;
  }
  p {
    strong {
      font-weight: $font-bold;
    }
    span {
      color: $white;
      font-weight: $font-bold;
      font-size: 20px;
    }
  }
}