@import "variables";
@import "mixinss";


.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }
}

.logo_title {
  font-family: $rubik;
  line-height: 50px;
  font-size: 48px;
  font-weight: $font-extrabold;
  text-transform: uppercase;
  margin: 0;
  @include tablet {
    line-height: 100px;
    font-size: 62px;
  }
}

.login_box {
  padding: 10px 0;
  background-color: $grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include standard-text;
}
.checkout_box {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  label, input, button {
    margin: 5px 0;
    @include tablet {
      margin: 0 10px 0 0;
    }
  }
  label {
    font-size: 24px;
    font-weight: $font-bold;
  }
  button {
    padding: 5px 20px;
  }
}
.input_case {
  border-radius: $radius;
}

.case_data {
  @include standard-text;
  padding: 20px;
  background-color: $orange;
  h2 {
    @include text-title;
  }
  p {
    strong {
      font-weight: $font-bold;
    }
    span {
      color: $white;
      font-weight: $font-bold;
      font-size: 20px;
    }
  }
}
.service_description {
  @include standard-text;
  padding: 20px 0;
  text-align: justify;
  h3{
    @include section-title {
      padding: 5px 0;
    };
  }
}
